<div class="page-header">
  <h3>検索結果 <small>9999999件</small></h3>
</div>

<div class="container">
  <% @events.each do |event| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <%= event.title %>
        </h4>
      </div>
      <div class="panel-body">
        <p>[タグ]
          <% event.tag.split(",").each do |t| %>
            <span class="label label-default"><%= t %></span>
          <% end %>
        </p>
        <p>[日時] 2011-01-01 11:00 - 12:00</p>
        <p>[場所] 神奈川県横浜市戸塚区上倉田3-1-2</p>
        <p>[リンク] <a href="http://example.com">http://example.com</a></p>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

</div>
