<% provide(:title, 'Home') %>

<h1><i class="fa fa-bullhorn fa-lg fa-fw"></i>お知らせ</h1>
  <ul class="list-group">
    <li class="list-group-item" style="color: red">※2014-12-31 23:00〜メンテナンスを行います</li>
  </ul>
<hr>

<h1><i class="fa fa-thumbs-o-up fa-lg fa-fw"></i>トレンド</h1>
<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h3>Fluentd Meetup #10</h3>
    <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
    <p><strong>[概要]</strong>ほにゃらほにゃら</p>
    <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h3>Fluentd Meetup #10</h3>
    <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
    <p><strong>[概要]</strong>ほにゃらほにゃら</p>
    <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h3>Fluentd Meetup #10</h3>
    <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
    <p><strong>[概要]</strong>ほにゃらほにゃら</p>
    <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h3>Fluentd Meetup #10</h3>
    <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
    <p><strong>[概要]</strong>ほにゃらほにゃら</p>
    <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h3>Fluentd Meetup #10</h3>
    <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
    <p><strong>[概要]</strong>ほにゃらほにゃら</p>
    <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h3>Fluentd Meetup #10</h3>
    <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
    <p><strong>[概要]</strong>ほにゃらほにゃら</p>
    <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
  </div>
</div>
<hr>

<h1><i class="fa fa-search fa-lg fa-fw"></i>イベントを検索</h1>
<div class="form-group">
  <form class="form-inline" role="form" action="event_list">
    <label>タグ</label><br/>
    <h4>
    <span class="event_tag label label-default">Ruby</span>
    <span class="event_tag label label-default">Java</span>
    <span class="event_tag label label-default">Rails</span>
    <span class="event_tag label label-default">PHP</span>
    <span class="event_tag label label-default">AWS</span>
    <span class="event_tag label label-default">Redis</span>
    <span class="event_tag label label-default">Docker</span>
    <span class="event_tag label label-default">Chef</span>
    </h4>
    <div id="event_tag_field" style="display: none;"></div>
    <br>

    <label>日時</label><br/>
    <div class="input-group date datepicker" data-date-format="YYYY-MM-DD">
      <label class="sr-only" for="from_date">From</label>
      <input type="text" class="form-control" id="from_date" name="from_date" placeholder="From" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    〜
    <div class="input-group date datepicker" data-date-format="YYYY-MM-DD">
      <label class="sr-only" for="to_date">To</label>
      <input type="text" class="form-control" id="to_date" name="to_date" placeholder="To" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <button type="submit" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
  </form>
</div>

<div class="spacer40"></div>
