 <div class="jumbotron">
   <h2>Study Cheki(すたちぇき)へようこそ</h2>
   <p class="lead">
     Study Cheki(すたちぇき)は技術系イベントのチェックや管理を支援するサービスです。<br>
     例えば、これに参加しようかな？でも予定分からないからとりあえずキープみたいなユースケースに。<br><br>
     イベントの情報はATNDさん、Compassさん、DoorKeeperさん、Zussarさんで提供して頂いているAPI経由で抽出しています。
   </p>
   <div class="spacer30"></div>
   <p><a href="/auth/twitter" role="button"><img src="/assets/images/sign-in-with-twitter.png" class="img-responsive" alt="Responsive image"></a></p>
</div>
