<% provide(:title, 'Home') %>
<div class="container">
  <h1><i class="fa fa-bullhorn fa-lg fa-fw"></i>お知らせ</h1>
    <ul class="list-group">
      <li class="list-group-item" style="color: red">※2014-12-31 23:00〜メンテナンスを行います</li>
    </ul>
  <hr>

  <h1><i class="fa fa-thumbs-o-up fa-lg fa-fw"></i>トレンド</h1>
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4">
      <h3>Fluentd Meetup #10</h3>
      <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
      <p><strong>[概要]</strong>ほにゃらほにゃら</p>
      <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h3>Fluentd Meetup #10</h3>
      <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
      <p><strong>[概要]</strong>ほにゃらほにゃら</p>
      <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h3>Fluentd Meetup #10</h3>
      <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
      <p><strong>[概要]</strong>ほにゃらほにゃら</p>
      <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h3>Fluentd Meetup #10</h3>
      <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
      <p><strong>[概要]</strong>ほにゃらほにゃら</p>
      <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h3>Fluentd Meetup #10</h3>
      <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
      <p><strong>[概要]</strong>ほにゃらほにゃら</p>
      <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <h3>Fluentd Meetup #10</h3>
      <p><strong>[日時]</strong>2099-01-01 19:00 - 21:00</p>
      <p><strong>[概要]</strong>ほにゃらほにゃら</p>
      <p><a class="btn btn-default" href="#" role="button">詳細 &raquo;</a></p>
    </div>
  </div>
  <hr>

  <h1><i class="fa fa-tags fa-lg fa-fw"></i>タグで検索</h1>
  <div class="row">
    <h4>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
    </h4>
    <h4>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
      <a href="/event_list"><span class="label label-default">Ruby</span></a>
    </h4>
  </div>
  <hr>

  <h1><i class="fa fa-search fa-lg fa-fw"></i>日時で検索</h1>
  <div class="row">
    <h3>
      <div class="col-sm-6">
        <form class="form-inline" role="form" action="event_list">
          <div class="form-group">
            <div class="input-group date datepicker" data-date-format="YYYY-MM-DD">
              <label class="sr-only" for="from_date">From</label>
              <input type="text" class="form-control" id="from_date" placeholder="From" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            〜
            <div class="input-group date datepicker" data-date-format="YYYY-MM-DD">
              <label class="sr-only" for="to_date">To</label>
              <input type="text" class="form-control" id="to_date" placeholder="To" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search fa-fw"></i>検索</button>
        </form>
      </div>
    </h3>
  </div>
  <hr>
  <div class="spacer40"></div>
</div>
