<% provide(:title, 'ChekiList') %>
<div class="page-header">
  <h3>ちぇきリスト <small>なにかしらチェックした勉強会の一覧</small></h3>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        ほにゃらほにゃらほげほげ#1
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            ストック<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">ストック</a></li>
            <li><a href="#">参加</a></li>
            <li><a href="#">キャンセル</a></li>
          </ul>
        </div>
      </h4>
    </div>
    <div class="panel-body">
      <p>[タグ]
        <span class="label label-default">rails</span>
        <span class="label label-default">ruby</span>
        <span class="label label-default">aws</span>
      </p>
      <p>[日時] 2011-01-01 11:00 - 2011-01-01 12:00</p>
      <p>[場所] 神奈川県横浜市戸塚区上倉田3-1-2</p>
      <p>[リンク] <a href="http://example.com">http://example.com</a></p>
    </div>
  </div>
</div>
